@charset "UTF-8";
/*-------------------------------------------------------------------------------------------
------------------------------------------ЦВЕТА----------------------------------------------
-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------
------------------------------------------ШРИФТЫ---------------------------------------------
-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------
-----------------------------------------ПЕРЕМЕННЫЕ------------------------------------------
-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------
-----------------------------------СТАНДАРТНЫЕ НАСТРОЙКИ-------------------------------------
-------------------------------------------------------------------------------------------*/
html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  color: #141414;
}
.body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

div[class*=__container] {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media (max-width: 1330px) {
  div[class*=__container] {
    max-width: 1022px;
  }
}
@media (max-width: 1022px) {
  div[class*=__container] {
    max-width: 798px;
  }
}
@media (max-width: 798px) {
  div[class*=__container] {
    max-width: 606px;
  }
}
@media (max-width: 606px) {
  div[class*=__container] {
    max-width: none;
  }
}

._bgi {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  min-width: 200px;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16px;
}
@media (max-width: 1330px) {
  .button {
    min-width: 180px;
    height: 45px;
    font-size: 14px;
  }
}
@media (max-width: 798px) {
  .button {
    min-width: 160px;
    height: 40px;
    font-size: 12px;
  }
}
@media (max-width: 798px) {
  .button {
    min-width: 140px;
    height: 35px;
    font-size: 12px;
    border-radius: 6px;
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (max-width: 1022px) {
  .title {
    font-size: 32px;
  }
}
@media (max-width: 798px) {
  .title {
    font-size: 28px;
  }
}
.title span {
  color: #0a62aa;
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------HEADER---------------------------------------------
-------------------------------------------------------------------------------------------*/
.header {
  padding: 30px 0;
  position: relative;
}
@media (max-width: 798px) {
  .header {
    padding-top: 60px;
  }
}
.header__top {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}
@media (max-width: 1330px) {
  .header__top {
    margin-bottom: 20px;
  }
}
.header__burger-icon {
  display: none;
}
@media (max-width: 798px) {
  .header__burger-icon {
    display: block;
    z-index: 50;
    position: fixed;
    top: 20px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: auto;
  }
  .header__burger-icon::before, .header__burger-icon::after,
  .header__burger-icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s;
    background-color: #0a62aa;
  }
  .header__burger-icon::before, .header__burger-icon::after {
    content: "";
  }
  .header__burger-icon::before {
    top: 0;
  }
  .header__burger-icon::after {
    bottom: 0;
  }
  .header__burger-icon span {
    top: 50%;
    transform: translateY(-50%) scale(1);
  }
  .header__burger-icon._active span {
    transform: scale(0);
    background-color: #fff;
  }
  .header__burger-icon._active::before {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    background-color: #fff;
  }
  .header__burger-icon._active::after {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
    background-color: #fff;
  }
}

.burger-menu {
  display: none;
}
@media (max-width: 798px) {
  .burger-menu {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    overflow-x: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0a62aa;
    transition: left 0.3s;
  }
  .burger-menu._active {
    left: 0;
  }
}
.burger-menu__body {
  padding: 50px 20px 20px 20px;
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  overflow-y: auto;
  overflow-x: hidden;
}
.burger-menu__bottom-header .menu-header-bottom__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  height: auto;
}
.burger-menu__bottom-header .menu-header-bottom__link {
  font-size: 16px;
  color: #fff;
}
.burger-menu__top-header .top-header__item:not(:last-child) {
  display: block;
}
.burger-menu__top-header .top-header__item:last-child {
  display: none;
}
.burger-menu__top-header .top-header__link img {
  display: block;
  filter: brightness(25);
  opacity: 1;
}
.burger-menu__top-header .top-header__list {
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
.burger-menu__top-header .top-header__link-text {
  display: none;
}
.burger-menu__top-header .top-header__link-title {
  color: #eee;
  font-size: 16px;
}

.top-header__icon {
  margin-right: 89px;
}
.top-header__icon img {
  min-width: 131px;
  width: 131px;
  height: 100%;
}
@media (max-width: 1330px) {
  .top-header__icon {
    margin-right: 60px;
  }
  .top-header__icon img {
    min-width: 110px;
    width: 110px;
  }
}
@media (max-width: 1022px) {
  .top-header__icon {
    margin-right: 30px;
  }
}
@media (max-width: 606px) {
  .top-header__icon img {
    min-width: 90px;
    width: 90px;
    margin-right: 0;
  }
}
.top-header__menu {
  width: 100%;
}
.top-header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 798px) {
  .top-header__list {
    justify-content: right;
  }
}
@media (max-width: 798px) {
  .top-header__item:not(:last-child) {
    display: none;
  }
}
.top-header__link {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (hover: hover) {
  .top-header__link:hover .top-header__link-text {
    text-decoration: none;
  }
}
@media (max-width: 1330px) {
  .top-header__link img {
    width: 18px;
  }
}
@media (max-width: 1022px) {
  .top-header__link img {
    display: none;
  }
}
.top-header__link-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2px;
}
@media (max-width: 1330px) {
  .top-header__link-title {
    font-size: 12px;
  }
}
.top-header__link-text {
  font-size: 12px;
  color: #9f9f9f;
  text-decoration: underline;
}
@media (max-width: 1330px) {
  .top-header__link-text {
    font-size: 11px;
  }
}
.cart {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 798px) {
  .cart {
    margin-right: -10px;
  }
}
@media (hover: hover) {
  .cart:hover .cart__image {
    background-color: #0a62aa;
  }
  .cart:hover .cart__image img {
    filter: brightness(25);
  }
  .cart:hover .cart__count {
    background-color: #fff;
    color: #0a62aa;
  }
}
.cart__image {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  border: 1px #0a62aa solid;
  transition: all 0.2s ease;
}
@media (max-width: 1330px) {
  .cart__image img {
    width: 24px;
  }
}
@media (max-width: 1022px) {
  .cart__image {
    width: 40px;
    height: 40px;
  }
  .cart__image img {
    display: block;
    width: 20px;
  }
}
.cart__count {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%) translateX(50%);
  min-width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: 12px;
  background-color: #0a62aa;
  font-size: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.2s ease;
  border: 1px #0a62aa solid;
}
@media (max-width: 1022px) {
  .cart__count {
    min-width: 20px;
    height: 20px;
    padding: 4px;
    font-size: 8px;
  }
}
@media (max-width: 1022px) {
  .cart__title {
    display: none;
  }
}
@media (max-width: 1022px) {
  .cart__text {
    display: none;
  }
}

.bottom-header {
  display: flex;
  align-items: center;
}
.catalog {
  min-width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #0a62aa;
  border: 1px #0a62aa solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  gap: 10px;
  color: #fff;
  transition: all 0.2s ease;
}
@media (max-width: 1330px) {
  .catalog {
    font-size: 13px;
    min-width: 170px;
  }
}
@media (max-width: 1022px) {
  .catalog {
    min-width: 40px;
    height: 40px;
  }
}
@media (hover: hover) {
  .catalog:hover {
    background-color: #fff;
    color: #0a62aa;
  }
  .catalog:hover .catalog__image {
    filter: brightness(0) saturate(100%) invert(16%) sepia(94%) saturate(2013%) hue-rotate(188deg) brightness(96%) contrast(104%);
  }
}
.catalog__image {
  transition: all 0.2s ease;
}
@media (max-width: 1022px) {
  .catalog__image {
    width: 20px;
  }
}
@media (max-width: 1022px) {
  .catalog__text {
    display: none;
  }
}

.menu-header-bottom {
  flex: 1 1 auto;
  padding: 0 20px;
}
@media (max-width: 798px) {
  .menu-header-bottom {
    display: none;
  }
  .menu-header-bottom.burger-menu__bottom-header {
    display: block;
    padding: 0;
    flex: 0 1 auto;
  }
}
.menu-header-bottom__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu-header-bottom__item {
  position: relative;
}
.menu-header-bottom__item._sublist {
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 798px) {
  .menu-header-bottom__item._sublist {
    flex-wrap: wrap;
  }
}
.menu-header-bottom__item._sublist._active .menu-header-bottom__sublist-inner {
  grid-template-rows: 1fr;
}
@media (min-width: 798px) {
  .menu-header-bottom__item._sublist._active .menu-header-bottom__sublist-body {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: all;
    height: 100%;
    padding: 12px 15px;
  }
}
@media (max-width: 1330px) {
  .menu-header-bottom__item._sublist._active .menu-header-bottom__sublist-body {
    padding: 10px;
  }
}
@media (min-width: 798px) {
  .menu-header-bottom__item._sublist._active .menu-header-bottom__sublist {
    padding-top: 10px;
  }
}
.menu-header-bottom__item._sublist._active .menu-header-bottom__sublist {
  padding-top: 10px;
  padding-left: 5px;
}
.menu-header-bottom__item._sublist._active > .menu-header-bottom__arrow {
  transform: rotate(-180deg);
}
@media (max-width: 1330px) {
  .menu-header-bottom__link {
    font-size: 12px;
  }
}
.menu-header-bottom__arrow {
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  margin-left: 8px;
  cursor: pointer;
}
@media (max-width: 798px) {
  .menu-header-bottom__arrow img {
    filter: brightness(25);
    width: 10px;
  }
}
.menu-header-bottom__sublist {
  position: absolute;
  z-index: 2;
  top: 100%;
  right: 0;
  padding-top: 0px;
  transition: all 0.2s ease;
}
@media (max-width: 798px) {
  .menu-header-bottom__sublist {
    position: static;
    margin-right: 100%;
    overflow: hidden;
    width: 100vw;
  }
}
.menu-header-bottom__sublist-inner {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.2s ease;
  margin-right: 100%;
}
.menu-header-bottom__sublist-body {
  background-color: #0a62aa;
  color: #fff;
  min-width: 200px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.menu-header-bottom__sublist-body li {
  margin: 0;
}
.menu-header-bottom__sublist-body li:not(:last-child) {
  margin-bottom: 10px;
}
@media (hover: hover) {
  .menu-header-bottom__sublist-body li:hover {
    text-decoration: underline;
  }
}
@media (min-width: 798px) {
  .menu-header-bottom__sublist-body {
    transform: translateY(10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;
    height: 0;
  }
}
@media (max-width: 798px) {
  .menu-header-bottom__sublist-body {
    padding: 0 !important;
  }
  .menu-header-bottom__sublist-body a {
    font-size: 14px;
  }
}
@media (max-width: 1330px) {
  .menu-header-bottom__sublist-body {
    font-size: 12px;
    padding: 0 10px;
  }
}

.search {
  width: 530px;
  height: 50px;
  border: 1px #eee solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 1330px) {
  .search {
    width: 400px;
  }
}
@media (max-width: 1022px) {
  .search {
    height: 40px;
    width: 300px;
    border-radius: 6px;
  }
}
@media (max-width: 798px) {
  .search {
    margin-left: 15px;
    width: 100%;
  }
}
.search__input {
  width: 100%;
  padding: 17px 20px;
}
@media (max-width: 1022px) {
  .search__input {
    padding: 10px 15px;
    font-size: 12px;
  }
}
.search__input::-moz-placeholder {
  color: #d9d9d9;
}
.search__input::placeholder {
  color: #d9d9d9;
}
.search__text {
  color: #000;
  padding: 0 19px 0 48px;
  height: 100%;
  display: flex;
  align-items: center;
  border-left: 1px #eee solid;
  position: relative;
  transition: all 0.2s ease;
  border-radius: 0px 10px 10px 0px;
}
@media (max-width: 1022px) {
  .search__text {
    border-radius: 0px 6px 6px 0px;
  }
}
@media (max-width: 1022px) {
  .search__text {
    font-size: 12px;
    padding: 0 10px 0 30px;
  }
}
.search__text:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
  width: 20px;
  height: 20px;
  background-image: url(../img/header/search.svg);
  background-size: 100%;
  transition: all 0.2s ease;
}
@media (max-width: 1022px) {
  .search__text:before {
    width: 15px;
    height: 15px;
    left: 10px;
  }
}
@media (hover: hover) {
  .search__text:hover {
    background-color: #0a62aa;
    color: #fff;
  }
  .search__text:hover:before {
    filter: brightness(30);
  }
}
.search__results-body {
  position: absolute;
  z-index: 4;
  top: 100%;
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-rows: 0fr;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.search__results-body._active {
  grid-template-rows: 1fr;
  visibility: visible;
  opacity: 1;
}
.search__results {
  background-color: #f9f9f9;
  border: 1px #e9e9e9 solid;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 1022px) {
  .search__results {
    border-radius: 6px;
  }
}
.search__result:not(:last-child) {
  border-bottom: 1px #e9e9e9 solid;
}
.search__link {
  display: block;
  padding: 15px;
}
@media (hover: hover) {
  .search__link:hover {
    background-color: #ddd;
  }
}
@media (max-width: 1022px) {
  .search__link {
    padding: 10px;
    font-size: 12px;
  }
}

/*-------------------------------------------------------------------------------------------
--------------------------------------PROMOTION---------------------------------------------
-------------------------------------------------------------------------------------------*/
.swiper-promotion {
  width: 100%;
  height: 500px;
}
@media (min-width: 798px) {
  .swiper-promotion {
    border-radius: 30px;
  }
}
@media (max-width: 1330px) {
  .swiper-promotion {
    height: 400px;
  }
}
@media (max-width: 798px) {
  .swiper-promotion {
    height: 300px;
  }
}
@media (max-width: 606px) {
  .swiper-promotion {
    height: 220px;
  }
}
.swiper-promotion__slide {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.swiper-promotion__slide:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #0a62aa, rgba(0, 0, 0, 0));
}
.swiper-promotion__slide {
  padding: 60px 36px 50px;
}
@media (max-width: 1330px) {
  .swiper-promotion__slide {
    border-radius: 15px;
    padding: 40px 30px;
  }
}
@media (max-width: 798px) {
  .swiper-promotion__slide {
    border-radius: 10px;
    padding: 30px 20px;
  }
}
@media (max-width: 606px) {
  .swiper-promotion__slide {
    padding: 20px 15px;
  }
}
.swiper-promotion__slide-image {
  z-index: -2;
}
.swiper-promotion__slide-text {
  font-size: 16px;
  color: #fff;
}
.swiper-promotion__slide-text:nth-child(2) {
  text-transform: uppercase;
  letter-spacing: 10%;
}
.swiper-promotion__slide-text {
  margin-bottom: 10px;
  max-width: 420px;
  line-height: 150%;
}
@media (max-width: 1330px) {
  .swiper-promotion__slide-text {
    font-size: 14px;
  }
}
@media (max-width: 798px) {
  .swiper-promotion__slide-text {
    font-size: 12px;
  }
}
@media (max-width: 606px) {
  .swiper-promotion__slide-text {
    margin-bottom: 5px;
  }
}
.swiper-promotion__slide-title {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  max-width: 612px;
  margin-bottom: 20px;
  line-height: 107.1428571429%;
}
.swiper-promotion__slide-title span {
  color: #ffa600;
}
@media (max-width: 1330px) {
  .swiper-promotion__slide-title {
    font-size: 36px;
    max-width: 400px;
    line-height: 120%;
  }
}
@media (max-width: 798px) {
  .swiper-promotion__slide-title {
    font-size: 28px;
    max-width: 320px;
  }
}
@media (max-width: 606px) {
  .swiper-promotion__slide-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.swiper-promotion__slide-button {
  background-color: #ffa600;
  margin-top: 40px;
  color: #fff;
  position: relative;
  padding-right: 30px;
}
.swiper-promotion__slide-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  filter: brightness(25);
  right: 46px;
  width: 10px;
  height: 10px;
  background: url("../img/header/arrow.svg") no-repeat 0 0/100%;
}
@media (max-width: 1330px) {
  .swiper-promotion__slide-button {
    margin-top: 20px;
  }
  .swiper-promotion__slide-button:after {
    right: 40px;
  }
}
@media (max-width: 606px) {
  .swiper-promotion__slide-button {
    margin-top: 10px;
  }
  .swiper-promotion__slide-button:after {
    right: 30px;
  }
}
.swiper-promotion__body {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 30px 23px 40px 23px;
}
@media (max-width: 798px) {
  .swiper-promotion__body {
    display: none;
  }
}
.swiper-promotion__pagination {
  position: static;
  display: flex;
  align-items: center;
  width: auto !important;
}
.swiper-promotion__pagination .swiper-pagination-bullet {
  margin: 0 7.5px !important;
  transition: all 0.2s ease;
}
@media (hover: hover) {
  .swiper-promotion__pagination .swiper-pagination-bullet:hover {
    border-color: #ffa600;
    background-color: #ffa600;
  }
}
.swiper-promotion__pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px #fff solid;
  background-color: transparent;
  opacity: 1;
}
.swiper-promotion__pagination .swiper-pagination-bullet-active {
  border-color: #ffa600;
  background-color: #ffa600;
}
.swiper-promotion__buttons {
  display: flex;
  gap: 18px;
}
.swiper-promotion__button-next, .swiper-promotion__button-prev {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px #fff solid;
  overflow: hidden;
  transition: all 0.2s ease;
}
.swiper-promotion__button-next svg, .swiper-promotion__button-prev svg {
  display: none;
}
.swiper-promotion__button-next:before, .swiper-promotion__button-prev:before {
  content: "";
  width: 15.5px;
  height: 15.5px;
  background-color: #c70000;
  mask: url(../img/header/arrow.svg) no-repeat center/100% 100%;
  -webkit-mask: url(../img/header/arrow.svg) no-repeat center/100% 100%;
}
@media (hover: hover) {
  .swiper-promotion__button-next:hover, .swiper-promotion__button-prev:hover {
    background-color: transparent;
    opacity: 1;
  }
  .swiper-promotion__button-next:hover:before, .swiper-promotion__button-prev:hover:before {
    content: "";
    width: 15.5px;
    height: 15.5px;
    background-color: #fff;
    mask: url(../img/header/arrow.svg) no-repeat center/100% 100%;
    -webkit-mask: url(../img/header/arrow.svg) no-repeat center/100% 100%;
  }
}
.swiper-promotion__button-next.swiper-button-disabled, .swiper-promotion__button-prev.swiper-button-disabled {
  background-color: transparent;
  opacity: 1;
}
.swiper-promotion__button-next.swiper-button-disabled:before, .swiper-promotion__button-prev.swiper-button-disabled:before {
  content: "";
  width: 15.5px;
  height: 15.5px;
  background-color: #fff;
  mask: url(../img/header/arrow.svg) no-repeat center/100% 100%;
  -webkit-mask: url(../img/header/arrow.svg) no-repeat center/100% 100%;
}
.swiper-promotion__button-next {
  transform: rotate(-90deg);
}
.swiper-promotion__button-prev {
  transform: rotate(90deg);
}

/*-------------------------------------------------------------------------------------------
----------------------------------------ABOUT---------------------------------------------
-------------------------------------------------------------------------------------------*/
.about {
  padding: 30px 0px 50px;
}
.about__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 1330px) {
  .about__container {
    gap: 15px;
  }
}
@media (max-width: 1022px) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 606px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.about__item {
  border-radius: 10px;
  border: 1px #e8e8e8 solid;
  padding: 30px 20px;
}
@media (max-width: 1330px) {
  .about__item {
    padding: 20px 15px;
  }
}
@media (max-width: 798px) {
  .about__item {
    padding: 15px 10px;
    border-radius: 6px;
  }
}
.about__title {
  font-size: 24px;
  font-weight: 700;
  color: #0a62aa;
  padding-left: 25px;
  position: relative;
  margin-bottom: 10px;
}
.about__title:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffa600;
}
@media (max-width: 1330px) {
  .about__title {
    font-size: 22px;
    padding-left: 20px;
  }
  .about__title:before {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 798px) {
  .about__title {
    font-size: 18px;
    padding-left: 15px;
    margin-bottom: 6px;
  }
  .about__title:before {
    width: 8px;
    height: 8px;
  }
}
.about__text {
  line-height: 171.4285714286%;
  color: #878787;
}
@media (max-width: 798px) {
  .about__text {
    font-size: 12px;
  }
}

/*-------------------------------------------------------------------------------------------
---------------------------------------CATALOG---------------------------------------------
-------------------------------------------------------------------------------------------*/
.products {
  padding: 70px 0;
  border-radius: 50px 50px 0px 0px;
  overflow: hidden;
  background-color: #f8f8f8;
}
.products._catalog {
  background-color: #fff;
}
.products._catalog .body-products__outer {
  display: flex;
}
@media (max-width: 1022px) {
  .products {
    padding: 50px 0;
    border-radius: 30px 30px 0px 0px;
  }
}
@media (max-width: 798px) {
  .products {
    padding: 30px 0;
    border-radius: 20px 20px 0px 0px;
  }
}
.body-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 1022px) {
  .body-products {
    gap: 15px;
  }
}
@media (max-width: 798px) {
  .body-products {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.body-products__item {
  border-radius: 20px;
  overflow: hidden;
  background-color: #f6f6f6;
}
@media (max-width: 1022px) {
  .body-products__item {
    border-radius: 15px;
  }
}
.body-products__item._products-link {
  background-color: #0a62aa;
}
.body-products__item._products-link .body-products__inner {
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 20px;
  border: 1px #fff solid;
  min-height: 230px;
}
@media (max-width: 1330px) {
  .body-products__item._products-link .body-products__inner {
    min-height: 200px;
  }
}
@media (max-width: 1022px) {
  .body-products__item._products-link .body-products__inner {
    min-height: 160px;
    border-radius: 15px;
  }
}
.body-products__item._products-link .body-products__inner:before {
  display: none;
}
.body-products__item._products-link .body-products__link:before {
  background-color: #fff;
  filter: brightness(1);
}
.body-products__inner {
  display: flex;
  border-radius: 20px;
  min-height: 250px;
}
@media (max-width: 1330px) {
  .body-products__inner {
    min-height: 220px;
  }
}
.body-products__inner {
  overflow: hidden;
  position: relative;
  z-index: 3;
  flex-direction: column;
  justify-content: end;
  gap: 30px;
  padding: 30px;
}
@media (max-width: 1022px) {
  .body-products__inner {
    min-height: 180px;
    border-radius: 15px;
    gap: 20px;
    padding: 20px;
  }
}
.body-products__inner:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
@media (hover: hover) {
  .body-products__inner:hover .body-products__link {
    text-decoration: none !important;
  }
}
.body-products__image {
  z-index: -2;
}
.body-products__title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 1022px) {
  .body-products__title {
    font-size: 20px;
  }
}
.body-products__link {
  color: #fff;
  text-decoration: underline !important;
  position: relative;
  padding-left: 50px;
}
.body-products__link:before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c70000;
  background-image: url(../img/header/arrow.svg);
  filter: brightness(20);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}
@media (max-width: 1022px) {
  .body-products__link {
    font-size: 12px;
    padding-left: 40px;
  }
  .body-products__link:before {
    width: 30px;
    height: 30px;
  }
}
.body-products__outer {
  padding: 40px 30px;
  background-color: #f6f6f6;
  margin-top: -20px;
  display: flex;
  display: none;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1022px) {
  .body-products__outer {
    gap: 10px;
    padding: 30px 20px;
  }
}
.body-products__outer-body {
  max-width: 429px;
}
@media (max-width: 1022px) {
  .body-products__outer-body {
    max-width: none;
  }
}
.body-products__outer-title {
  font-size: 16px;
  color: #141414;
  margin-bottom: 10px;
}
@media (max-width: 1022px) {
  .body-products__outer-title {
    font-size: 14px;
  }
}
.body-products__outer-text {
  color: #838383;
  line-height: 160%;
}
@media (max-width: 1022px) {
  .body-products__outer-text {
    font-size: 12px;
  }
}
.body-products__outer-text p {
  display: inline;
  text-decoration: underline;
  margin-right: 10px;
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------FOOTER---------------------------------------------
-------------------------------------------------------------------------------------------*/
.footer {
  padding: 50px 0;
}
@media (max-width: 1330px) {
  .footer {
    padding: 30px 0;
  }
}
@media (max-width: 798px) {
  .footer {
    padding: 20px 0;
  }
}
.footer {
  background-color: #f8f8f8;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  border-top: 1px #dfdfdf solid;
}
@media (max-width: 1330px) {
  .footer__bottom {
    flex-direction: column-reverse;
    align-items: start;
    gap: 20px;
  }
}
@media (max-width: 798px) {
  .footer__bottom {
    padding-top: 20px;
  }
}
.footer__text {
  font-size: 12px;
  color: #616161;
}
.footer__texts {
  display: flex;
  gap: 30px;
  align-items: center;
}
@media (max-width: 1330px) {
  .footer__texts {
    gap: 8px 20px;
    flex-wrap: wrap;
  }
}
@media (hover: hover) {
  .footer__texts .footer__text:hover {
    text-decoration: underline;
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------DELIVERY---------------------------------------------
-------------------------------------------------------------------------------------------*/
.delivery {
  padding: 70px 0px 82px;
  background-color: #fff;
}
@media (max-width: 1330px) {
  .delivery {
    padding: 60px 0px;
  }
}
@media (max-width: 798px) {
  .delivery {
    padding: 40px 0px;
  }
}
@media (max-width: 606px) {
  .delivery {
    padding: 30px 0px;
  }
}
.delivery__container {
  display: flex;
}
@media (max-width: 1022px) {
  .delivery__container {
    flex-direction: column;
  }
}
.delivery__image {
  flex: 1 0 37.7692307692%;
  min-height: 506px;
  position: relative;
  z-index: 1;
  margin-right: 60px;
}
@media (max-width: 1330px) {
  .delivery__image {
    margin-right: 40px;
    flex: 1 0 50%;
    min-height: 400px;
  }
}
@media (max-width: 1022px) {
  .delivery__image {
    flex: 1 0 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 798px) {
  .delivery__image {
    margin-right: 30px;
  }
}
@media (max-width: 606px) {
  .delivery__image {
    margin-right: 20px;
  }
}
.delivery__image img {
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 1330px) {
  .delivery__image img {
    border-radius: 15px;
  }
}
.delivery__coat {
  position: absolute;
  right: -39px;
  bottom: -31px;
  z-index: 2;
  min-width: 223px;
  height: 76px;
  padding: 10px 15px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #0a62aa;
}
@media (max-width: 1022px) {
  .delivery__coat {
    right: -10px;
    bottom: -20px;
    border-radius: 15px;
    height: auto;
    min-width: 0px;
    padding: 10px 10px 10px 20px;
  }
}
.delivery__coat-num {
  font-size: 50px;
  font-weight: 600;
  line-height: 113%;
  color: #fff;
}
@media (max-width: 1022px) {
  .delivery__coat-num {
    font-size: 42px;
  }
}
.delivery__coat-text {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 1022px) {
  .delivery__coat-text {
    font-size: 12px;
  }
}
.delivery__body {
  display: flex;
  flex-direction: column;
}
.delivery__text p {
  font-size: 18px;
  line-height: 158%;
  margin-bottom: 20px;
  color: #a7a7a7;
}
@media (max-width: 1330px) {
  .delivery__text p {
    margin-bottom: 15px;
  }
  .delivery__text p:nth-child(1) {
    margin-bottom: 30px;
  }
}
.delivery__text p:nth-child(1) {
  margin-bottom: 48px;
}
@media (max-width: 798px) {
  .delivery__text p {
    font-size: 16px;
  }
}
.delivery__icons {
  margin-top: auto;
  display: flex;
  gap: 16px;
  justify-content: right;
}
.delivery__icon {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px #a7a7a7 solid;
}
@media (hover: hover) {
  .delivery__icon:hover svg path {
    fill: #0a62aa;
  }
}
.delivery__icon svg {
  height: 17px;
}
.delivery__icon svg path {
  transition: all 0.2s ease;
}