/*-------------------------------------------------------------------------------------------
------------------------------------------ЦВЕТА----------------------------------------------
-------------------------------------------------------------------------------------------*/

$mainColor: #141414;
$blueColor: #0a62aa;

/*-------------------------------------------------------------------------------------------
------------------------------------------ШРИФТЫ---------------------------------------------
-------------------------------------------------------------------------------------------*/

$mainFont: "Inter";

/*-------------------------------------------------------------------------------------------
-----------------------------------------ПЕРЕМЕННЫЕ------------------------------------------
-------------------------------------------------------------------------------------------*/

$xl: 1330px;
$lg: 1022px;
$md: 798px;
$sm: 606px;

/*-------------------------------------------------------------------------------------------
-----------------------------------СТАНДАРТНЫЕ НАСТРОЙКИ-------------------------------------
-------------------------------------------------------------------------------------------*/
html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 14px;
  color: $mainColor;
  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

div[class*="__container"] {
  max-width: $xl;
  margin: 0 auto;
  padding: 0px 15px;
  @media (max-width: $xl) {
    max-width: $lg;
  }
  @media (max-width: $lg) {
    max-width: $md;
  }
  @media (max-width: $md) {
    max-width: $sm;
  }
  @media (max-width: $sm) {
    max-width: none;
  }
}

._bgi {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  min-width: 200px;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16px;
  @media (max-width: $xl) {
    min-width: 180px;
    height: 45px;
    font-size: 14px;
  }
  @media (max-width: $md) {
    min-width: 160px;
    height: 40px;
    font-size: 12px;
  }
  @media (max-width: $md) {
    min-width: 140px;
    height: 35px;
    font-size: 12px;
    border-radius: 6px;
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
  @media (max-width: $lg) {
    font-size: 32px;
  }
  @media (max-width: $md) {
    font-size: 28px;
  }
  span {
    color: $blueColor;
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------HEADER---------------------------------------------
-------------------------------------------------------------------------------------------*/

.header {
  // .header__container
  padding: 30px 0;
  position: relative;
  @media (max-width: $md) {
    padding-top: 60px;
  }
  &__container {
  }

  // .header__top

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
    @media (max-width: $xl) {
      margin-bottom: 20px;
    }
  }

  // .header__bottom

  &__bottom {
  }

  &__burger-icon {
    display: none;
    @media (max-width: $md) {
      display: block;
      z-index: 50;
      position: fixed;
      top: 20px;
      right: 15px;
      width: 30px;
      height: 18px;
      cursor: pointer;
      margin-bottom: 20px;
      margin-left: auto;
      &::before,
      &::after,
      span {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s;
        background-color: $blueColor;
      }
      &::before,
      &::after {
        content: "";
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      span {
        top: 50%;
        transform: translateY(-50%) scale(1);
      }
      &._active {
        span {
          transform: scale(0);
          background-color: #fff;
        }
        &::before {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
          background-color: #fff;
        }
        &::after {
          bottom: 50%;
          transform: translateY(50%) rotate(45deg);
          background-color: #fff;
        }
      }
    }
  }
}
.burger-menu {
  display: none;
  @media (max-width: $md) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;

    overflow-x: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $blueColor;

    transition: left 0.3s;
    &._active {
      left: 0;
    }
  }
  &__body {
    padding: 50px 20px 20px 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__bottom-header {
    .menu-header-bottom {
      &__list {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
        height: auto;
      }
      &__link {
        font-size: 16px;
        color: #fff;
      }
    }
  }
  &__top-header {
    .top-header__item:not(:last-child) {
      display: block;
    }
    .top-header__item:last-child {
      display: none;
    }

    .top-header {
      &__link {
        img {
          display: block;
          filter: brightness(25);
          opacity: 1;
        }
      }
      &__list {
        flex-direction: column;
        align-items: start;
        gap: 15px;
      }
      &__link-text {
        display: none;
      }
      &__link-title {
        color: #eee;
        font-size: 16px;
      }
    }
  }
}
.top-header {
  // .top-header__icon

  &__icon {
    margin-right: 89px;
    img {
      min-width: 131px;
      width: 131px;
      height: 100%;
    }
    @media (max-width: $xl) {
      margin-right: 60px;
      img {
        min-width: 110px;
        width: 110px;
      }
    }
    @media (max-width: $lg) {
      margin-right: 30px;
    }
    @media (max-width: $sm) {
      img {
        min-width: 90px;
        width: 90px;
        margin-right: 0;
      }
    }
  }

  // .top-header__menu

  &__menu {
    width: 100%;
  }

  // .top-header__list

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $md) {
      justify-content: right;
    }
  }

  // .top-header__item

  &__item {
    @media (max-width: $md) {
      &:not(:last-child) {
        display: none;
      }
    }
  }

  // .top-header__link

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (hover: hover) {
      &:hover {
        .top-header__link-text {
          text-decoration: none;
        }
      }
    }
    @media (max-width: $xl) {
      img {
        width: 18px;
      }
    }
    @media (max-width: $lg) {
      img {
        display: none;
      }
    }
  }

  // .top-header__link-title

  &__link-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
    @media (max-width: $xl) {
      font-size: 12px;
    }
  }

  // .top-header__link-text

  &__link-text {
    font-size: 12px;
    color: #9f9f9f;
    text-decoration: underline;
    @media (max-width: $xl) {
      font-size: 11px;
    }
  }

  // .top-header__cart

  &__cart {
  }
}
.cart {
  display: flex;
  align-items: center;
  gap: 10px;
  @media (max-width: $md) {
    margin-right: -10px;
  }
  @media (hover: hover) {
    &:hover {
      .cart__image {
        background-color: #0a62aa;
        img {
          filter: brightness(25);
        }
      }
      .cart__count {
        background-color: #fff;
        color: $blueColor;
      }
    }
  }
  // .cart__image
  &__image {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    border: 1px $blueColor solid;
    transition: all 0.2s ease;
    @media (max-width: $xl) {
      img {
        width: 24px;
      }
    }
    @media (max-width: $lg) {
      width: 40px;
      height: 40px;
      img {
        display: block;
        width: 20px;
      }
    }
  }

  // .cart__count

  &__count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%) translateX(50%);

    min-width: 24px;
    height: 24px;
    padding: 6px;
    border-radius: 12px;
    background-color: $blueColor;
    font-size: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.2s ease;
    border: 1px $blueColor solid;
    @media (max-width: $lg) {
      min-width: 20px;
      height: 20px;
      padding: 4px;
      font-size: 8px;
    }
  }

  // .cart__title

  &__title {
    @media (max-width: $lg) {
      display: none;
    }
  }

  // .cart__text

  &__text {
    @media (max-width: $lg) {
      display: none;
    }
  }
}
.bottom-header {
  // .bottom-header__catalog
  display: flex;
  align-items: center;
  &__catalog {
  }

  // .bottom-header__menu

  &__menu {
  }

  // .bottom-header__search

  &__search {
  }
}
.catalog {
  min-width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: $blueColor;
  border: 1px $blueColor solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  gap: 10px;
  color: #fff;
  transition: all 0.2s ease;
  @media (max-width: $xl) {
    font-size: 13px;
    min-width: 170px;
  }
  @media (max-width: $lg) {
    min-width: 40px;
    height: 40px;
  }
  @media (hover: hover) {
    &:hover {
      background-color: #fff;
      color: $blueColor;
      .catalog__image {
        filter: brightness(0) saturate(100%) invert(16%) sepia(94%) saturate(2013%) hue-rotate(188deg) brightness(96%)
          contrast(104%);
      }
    }
  }
  &__image {
    transition: all 0.2s ease;
    @media (max-width: $lg) {
      width: 20px;
    }
  }
  &__text {
    @media (max-width: $lg) {
      display: none;
    }
  }
}
.menu-header-bottom {
  // .menu-header-bottom__list
  flex: 1 1 auto;
  padding: 0 20px;
  @media (max-width: $md) {
    display: none;
    &.burger-menu__bottom-header {
      display: block;
      padding: 0;
      flex: 0 1 auto;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  // .menu-header-bottom__item

  &__item {
    position: relative;
    &._sublist {
      display: flex;
      align-items: center;
      cursor: pointer;
      @media (max-width: $md) {
        flex-wrap: wrap;
      }
      &._active .menu-header-bottom__sublist-inner {
        grid-template-rows: 1fr;
      }
      &._active .menu-header-bottom__sublist-body {
        @media (min-width: $md) {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          pointer-events: all;
          height: 100%;
          padding: 12px 15px;
        }

        @media (max-width: $xl) {
          padding: 10px;
        }
      }
      &._active .menu-header-bottom__sublist {
        @media (min-width: $md) {
          padding-top: 10px;
        }
        padding-top: 10px;
        padding-left: 5px;
      }

      &._active > .menu-header-bottom__arrow {
        transform: rotate(-180deg);
      }
    }
  }

  // .menu-header-bottom__link

  &__link {
    @media (max-width: $xl) {
      font-size: 12px;
    }
  }

  // .menu-header-bottom__arrow

  &__arrow {
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
    margin-left: 8px;
    cursor: pointer;
    @media (max-width: $md) {
      img {
        filter: brightness(25);
        width: 10px;
      }
    }
  }

  // .menu-header-bottom__sublist

  &__sublist {
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    padding-top: 0px;
    transition: all 0.2s ease;

    @media (max-width: $md) {
      position: static;
      margin-right: 100%;
      overflow: hidden;
      width: 100vw;
    }
  }

  &__sublist-inner {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.2s ease;
    margin-right: 100%;
  }

  &__sublist-body {
    background-color: $blueColor;
    color: #fff;
    min-width: 200px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    li {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      @media (hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    @media (min-width: $md) {
      transform: translateY(10%);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all 0.3s;
      height: 0;
    }

    @media (max-width: $md) {
      padding: 0 !important;
      a {
        font-size: 14px;
      }
    }
    @media (max-width: $xl) {
      font-size: 12px;
      padding: 0 10px;
    }
  }
}

.search {
  width: 530px;
  height: 50px;
  border: 1px #eee solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  @media (max-width: $xl) {
    width: 400px;
  }
  @media (max-width: $lg) {
    height: 40px;
    width: 300px;
    border-radius: 6px;
  }
  @media (max-width: $md) {
    margin-left: 15px;
    width: 100%;
  }

  // .search__input

  &__input {
    width: 100%;
    padding: 17px 20px;

    @media (max-width: $lg) {
      padding: 10px 15px;
      font-size: 12px;
    }

    &::placeholder {
      color: #d9d9d9;
    }
  }

  // .search__text

  &__text {
    color: #000;
    padding: 0 19px 0 48px;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px #eee solid;
    position: relative;
    transition: all 0.2s ease;
    border-radius: 0px 10px 10px 0px;
    @media (max-width: $lg) {
      border-radius: 0px 6px 6px 0px;
    }
    @media (max-width: $lg) {
      font-size: 12px;
      padding: 0 10px 0 30px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 18px;
      width: 20px;
      height: 20px;
      background-image: url(../img/header/search.svg);
      background-size: 100%;
      transition: all 0.2s ease;
      @media (max-width: $lg) {
        width: 15px;
        height: 15px;
        left: 10px;
      }
    }
    @media (hover: hover) {
      &:hover {
        background-color: $blueColor;
        color: #fff;
        &:before {
          filter: brightness(30);
        }
      }
    }
  }

  // .search__results
  &__results-body {
    position: absolute;
    z-index: 4;
    top: 100%;
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-rows: 0fr;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &._active {
      grid-template-rows: 1fr;
      visibility: visible;
      opacity: 1;
    }
  }
  &__results {
    background-color: #f9f9f9;
    border: 1px #e9e9e9 solid;
    border-radius: 10px;
    overflow: hidden;
    @media (max-width: $lg) {
      border-radius: 6px;
    }
  }

  &__result {
    &:not(:last-child) {
      border-bottom: 1px #e9e9e9 solid;
    }
  }

  // .search__link

  &__link {
    display: block;
    padding: 15px;
    @media (hover: hover) {
      &:hover {
        background-color: #ddd;
      }
    }
    @media (max-width: $lg) {
      padding: 10px;
      font-size: 12px;
    }
  }
}

/*-------------------------------------------------------------------------------------------
--------------------------------------PROMOTION---------------------------------------------
-------------------------------------------------------------------------------------------*/

.promotion {
  // .promotion__container

  &__container {
  }

  // .promotion__swiper

  &__swiper {
  }
}

.swiper-promotion {
  // .swiper-promotion__wrapper
  width: 100%;
  height: 500px;
  @media (min-width: $md) {
    border-radius: 30px;
  }
  @media (max-width: $xl) {
    height: 400px;
  }
  @media (max-width: $md) {
    height: 300px;
  }
  @media (max-width: $sm) {
    height: 220px;
  }

  &__wrapper {
  }

  // .swiper-promotion__slide

  &__slide {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;

    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg, $blueColor, rgba(0, 0, 0, 0));
    }
    padding: 60px 36px 50px;
    @media (max-width: $xl) {
      border-radius: 15px;
      padding: 40px 30px;
    }
    @media (max-width: $md) {
      border-radius: 10px;
      padding: 30px 20px;
    }
    @media (max-width: $sm) {
      padding: 20px 15px;
    }
  }

  // .swiper-promotion__slide-image

  &__slide-image {
    z-index: -2;
  }

  // .swiper-promotion__slide-text

  &__slide-text {
    font-size: 16px;
    color: #fff;
    &:nth-child(2) {
      text-transform: uppercase;
      letter-spacing: 10%;
    }
    margin-bottom: 10px;
    max-width: 420px;
    line-height: 150%;
    @media (max-width: $xl) {
      font-size: 14px;
    }
    @media (max-width: $md) {
      font-size: 12px;
    }
    @media (max-width: $sm) {
      margin-bottom: 5px;
    }
  }

  // .swiper-promotion__slide-title

  &__slide-title {
    font-size: 56px;
    font-weight: 700;
    color: #fff;
    max-width: 612px;
    margin-bottom: 20px;
    line-height: calc(60px / 56px * 100%);
    span {
      color: #ffa600;
    }
    @media (max-width: $xl) {
      font-size: 36px;
      max-width: 400px;
      line-height: 120%;
    }
    @media (max-width: $md) {
      font-size: 28px;
      max-width: 320px;
    }
    @media (max-width: $sm) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  // .swiper-promotion__slide-button

  &__slide-button {
    background-color: #ffa600;
    margin-top: 40px;
    color: #fff;
    position: relative;
    padding-right: 30px;
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      filter: brightness(25);
      right: 46px;
      width: 10px;
      height: 10px;
      background: url("../img/header/arrow.svg") no-repeat 0 0 / 100%;
    }
    @media (max-width: $xl) {
      margin-top: 20px;
      &:after {
        right: 40px;
      }
    }
    @media (max-width: $sm) {
      margin-top: 10px;
      &:after {
        right: 30px;
      }
    }
  }

  // .swiper-promotion__body

  &__body {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 30px 23px 40px 23px;
    @media (max-width: $md) {
      display: none;
    }
  }

  // .swiper-promotion__pagination

  &__pagination {
    position: static;
    display: flex;
    align-items: center;
    width: auto !important;
    .swiper-pagination-bullet {
      margin: 0 7.5px !important;
      transition: all 0.2s ease;
      @media (hover: hover) {
        &:hover {
          border-color: #ffa600;
          background-color: #ffa600;
        }
      }
      width: 10px;
      height: 10px;
      border: 1px #fff solid;
      background-color: transparent;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      border-color: #ffa600;
      background-color: #ffa600;
    }
  }

  // .swiper-promotion__buttons

  &__buttons {
    display: flex;
    gap: 18px;
  }

  &__button-next,
  &__button-prev {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px #fff solid;
    overflow: hidden;
    transition: all 0.2s ease;
    svg {
      display: none;
    }

    &:before {
      content: "";
      width: 15.5px;
      height: 15.5px;
      background-color: #c70000;
      mask: url(../img/header/arrow.svg) no-repeat center / 100% 100%;
      -webkit-mask: url(../img/header/arrow.svg) no-repeat center / 100% 100%;
    }
    @media (hover: hover) {
      &:hover {
        background-color: transparent;
        opacity: 1;
        &:before {
          content: "";
          width: 15.5px;
          height: 15.5px;
          background-color: #fff;
          mask: url(../img/header/arrow.svg) no-repeat center / 100% 100%;
          -webkit-mask: url(../img/header/arrow.svg) no-repeat center / 100% 100%;
        }
      }
    }
    &.swiper-button-disabled {
      background-color: transparent;
      opacity: 1;
      &:before {
        content: "";
        width: 15.5px;
        height: 15.5px;
        background-color: #fff;
        mask: url(../img/header/arrow.svg) no-repeat center / 100% 100%;
        -webkit-mask: url(../img/header/arrow.svg) no-repeat center / 100% 100%;
      }
    }
  }
  &__button-next {
    transform: rotate(-90deg);
  }
  &__button-prev {
    transform: rotate(90deg);
  }
}

/*-------------------------------------------------------------------------------------------
----------------------------------------ABOUT---------------------------------------------
-------------------------------------------------------------------------------------------*/

.about {
  // .about__container
  padding: 30px 0px 50px;
  scroll-margin-top: calc(50vh - 150px);
  @media (max-width: $lg) {
    scroll-margin-top: calc(50vh - 200px);
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
    flex-wrap: wrap;
    @media (max-width: $xl) {
      gap: 15px;
    }
    @media (max-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $sm) {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }

  // .about__item

  &__item {
    border-radius: 10px;
    border: 1px #e8e8e8 solid;
    padding: 30px 20px;

    @media (max-width: $xl) {
      padding: 20px 15px;
    }
    @media (max-width: $md) {
      padding: 15px 10px;
      border-radius: 6px;
    }
  }

  // .about__title

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: $blueColor;
    padding-left: 25px;
    position: relative;
    margin-bottom: 10px;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #ffa600;
    }
    @media (max-width: $xl) {
      font-size: 22px;
      padding-left: 20px;
      &:before {
        width: 12px;
        height: 12px;
      }
    }
    @media (max-width: $md) {
      font-size: 18px;
      padding-left: 15px;
      margin-bottom: 6px;
      &:before {
        width: 8px;
        height: 8px;
      }
    }
  }

  // .about__text

  &__text {
    line-height: calc(24px / 14px * 100%);
    color: #878787;
    @media (max-width: $md) {
      font-size: 12px;
    }
  }
}

/*-------------------------------------------------------------------------------------------
---------------------------------------CATALOG---------------------------------------------
-------------------------------------------------------------------------------------------*/

.products {
  // .catalog__container
  padding: 70px 0;
  border-radius: 50px 50px 0px 0px;
  overflow: hidden;
  background-color: #f8f8f8;
  &._catalog {
    background-color: #fff;
    padding-top: 30px;
    @media (max-width: $xl) {
      padding-top: 20px;
    }
    @media (max-width: $sm) {
      padding-top: 15px;
    }
    .body-products__outer {
      display: flex;
    }
  }
  @media (max-width: $lg) {
    padding: 50px 0;
    border-radius: 30px 30px 0px 0px;
  }
  @media (max-width: $md) {
    padding: 30px 0;
    border-radius: 20px 20px 0px 0px;
  }

  &__container {
  }

  // .catalog__title

  &__title {
  }

  // .catalog__body

  &__body {
  }
}

.body-products {
  // .body-catalog__item
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media (max-width: $lg) {
    gap: 15px;
  }
  @media (max-width: $md) {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  &__item {
    border-radius: 20px;
    overflow: hidden;
    background-color: #f6f6f6;
    @media (hover: hover) {
      &:hover {
        .body-products__image {
          transform: scale(1.1);
        }
      }
    }
    @media (max-width: $lg) {
      border-radius: 15px;
    }

    &._products-link {
      background-color: $blueColor;
      .body-products__inner {
        align-items: center;
        justify-content: center;
        margin: 10px;
        border-radius: 20px;
        border: 1px #fff solid;
        min-height: 230px;
        @media (max-width: $xl) {
          min-height: 200px;
        }
        @media (max-width: $lg) {
          min-height: 160px;
          border-radius: 15px;
        }
        &:before {
          display: none;
        }
      }
      .body-products__link {
        &:before {
          background-color: #fff;
          filter: brightness(1);
        }
      }
    }
  }

  // .body-catalog__inner

  &__inner {
    display: flex;

    border-radius: 20px;
    min-height: 250px;
    @media (max-width: $xl) {
      min-height: 220px;
    }

    overflow: hidden;
    position: relative;
    z-index: 3;
    flex-direction: column;
    justify-content: end;
    gap: 30px;
    padding: 30px;
    @media (max-width: $lg) {
      min-height: 180px;
      border-radius: 15px;
      gap: 20px;
      padding: 20px;
    }
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    }
    @media (hover: hover) {
      &:hover {
        .body-products__link {
          text-decoration: none !important;
        }
      }
    }
  }

  // .body-catalog__image

  &__image {
    z-index: -2;
    transition: all 0.2s ease;
  }

  // .body-catalog__title

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    @media (max-width: $lg) {
      font-size: 20px;
    }
  }

  // .body-catalog__link

  &__link {
    color: #fff;
    text-decoration: underline !important;
    position: relative;
    padding-left: 50px;

    &:before {
      content: "";
      position: absolute;
      top: -50%;
      left: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #c70000;
      background-image: url(../img/header/arrow.svg);
      filter: brightness(20);
      background-size: 10px;
      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(-90deg);
    }
    @media (max-width: $lg) {
      font-size: 12px;
      padding-left: 40px;
      &:before {
        width: 30px;
        height: 30px;
      }
    }
  }

  // .body-catalog__outer

  &__outer {
    padding: 40px 30px;
    background-color: #f6f6f6;
    margin-top: -20px;
    display: flex;
    display: none;

    flex-direction: column;
    gap: 20px;
    @media (max-width: $lg) {
      gap: 10px;
      padding: 30px 20px;
    }
  }

  // .body-catalog__outer-body

  &__outer-body {
    max-width: 429px;
    @media (max-width: $lg) {
      max-width: none;
    }
  }

  // .body-catalog__outer-title

  &__outer-title {
    font-size: 16px;
    color: #141414;
    margin-bottom: 10px;
    @media (max-width: $lg) {
      font-size: 14px;
    }
  }

  // .body-catalog__outer-text

  &__outer-text {
    color: #838383;
    line-height: 160%;
    @media (max-width: $lg) {
      font-size: 12px;
    }

    p {
      display: inline;
      text-decoration: underline;
      margin-right: 10px;
    }
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------FOOTER---------------------------------------------
-------------------------------------------------------------------------------------------*/

.footer {
  padding: 50px 0;
  @media (max-width: $xl) {
    padding: 30px 0;
  }
  @media (max-width: $md) {
    padding: 20px 0;
  }
  background-color: #f8f8f8;
  // .footer__container

  &__container {
  }

  // .footer__menu

  &__menu {
  }

  // .footer__bottom

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    border-top: 1px #dfdfdf solid;
    @media (max-width: $xl) {
      flex-direction: column-reverse;
      align-items: start;
      gap: 20px;
    }
    @media (max-width: $md) {
      padding-top: 20px;
    }
  }

  // .footer__copyright

  &__copyright {
  }

  // .footer__text

  &__text {
    font-size: 12px;
    color: #616161;
  }

  // .footer__texts

  &__texts {
    display: flex;
    gap: 30px;
    align-items: center;
    @media (max-width: $xl) {
      gap: 8px 20px;
      flex-wrap: wrap;
    }
    .footer__text {
      @media (hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------DELIVERY---------------------------------------------
-------------------------------------------------------------------------------------------*/

.delivery {
  padding: 70px 0px 82px;
  background-color: #fff;
  @media (max-width: $xl) {
    padding: 60px 0px;
  }
  @media (max-width: $md) {
    padding: 40px 0px;
  }
  @media (max-width: $sm) {
    padding: 30px 0px;
  }
  // .delivery__container

  &__container {
    display: flex;
    @media (max-width: $lg) {
      flex-direction: column;
    }
  }

  // .delivery__image

  &__image {
    flex: 1 0 calc(491 / 1300 * 100%);
    min-height: 506px;
    position: relative;
    z-index: 1;
    margin-right: 60px;
    @media (max-width: $xl) {
      margin-right: 40px;
      flex: 1 0 50%;
      min-height: 400px;
    }
    @media (max-width: $lg) {
      flex: 1 0 100%;
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    @media (max-width: $md) {
      margin-right: 30px;
    }
    @media (max-width: $sm) {
      margin-right: 20px;
    }
    img {
      border-radius: 20px;
      overflow: hidden;
      @media (max-width: $xl) {
        border-radius: 15px;
      }
    }
  }

  &__coat {
    position: absolute;
    right: -39px;
    bottom: -31px;
    z-index: 2;
    min-width: 223px;
    height: 76px;
    padding: 10px 15px 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    overflow: hidden;
    background-color: $blueColor;
    @media (max-width: $lg) {
      right: -10px;
      bottom: -20px;
      border-radius: 15px;
      height: auto;
      min-width: 0px;
      padding: 10px 10px 10px 20px;
    }
    @media (max-width: $sm) {
      right: -10px;
      bottom: -20px;
      border-radius: 10px;
      height: auto;
      min-width: 0px;
      padding: 8px 8px 8px 16px;
    }
  }

  &__coat-num {
    font-size: 50px;
    font-weight: 600;
    line-height: 113%;
    color: #fff;
    @media (max-width: $lg) {
      font-size: 42px;
    }
    @media (max-width: $sm) {
      font-size: 36px;
    }
  }

  &__coat-text {
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    @media (max-width: $lg) {
      font-size: 12px;
    }
    @media (max-width: $sm) {
      font-size: 10px;
    }
  }

  // .delivery__body

  &__body {
    display: flex;
    flex-direction: column;
  }

  // .delivery__title

  &__title {
  }

  // .delivery__text

  &__text {
    p {
      font-size: 18px;
      line-height: 158%;
      margin-bottom: 20px;
      color: #a7a7a7;
      @media (max-width: $xl) {
        margin-bottom: 15px;
        &:nth-child(1) {
          margin-bottom: 30px;
        }
      }
      &:nth-child(1) {
        margin-bottom: 48px;
      }
      @media (max-width: $md) {
        font-size: 16px;
      }
    }
  }

  // .delivery__icons

  &__icons {
    margin-top: auto;
    display: flex;
    gap: 16px;
    justify-content: right;
  }

  // .delivery__icon

  &__icon {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px #a7a7a7 solid;
    @media (hover: hover) {
      &:hover {
        svg path {
          fill: $blueColor;
        }
      }
    }
    svg {
      height: 17px;
      path {
        transition: all 0.2s ease;
      }
    }
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------CONTACT---------------------------------------------
-------------------------------------------------------------------------------------------*/

.contact {
  // .contact__container

  &__container {
    display: flex;
    gap: 20px;
    padding-top: 50px !important;
    padding-bottom: 70px !important;
    border-top: 1px solid #f2f2f2;
    @media (max-width: $xl) {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
    }
    @media (max-width: $md) {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
    }
    @media (max-width: $lg) {
      flex-direction: column-reverse;
    }
  }

  // .contact__map

  &__map {
    flex: 0 1 50%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    min-height: 660px;
    @media (max-width: $xl) {
      min-height: 500px;
    }
    @media (max-width: $lg) {
      min-height: 0;
    }
    @media (max-width: $sm) {
      border-radius: 15px;
    }
  }

  &__map-map {
    width: 100%;
    height: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
    @media (max-width: $lg) {
      height: 500px;
    }
    @media (max-width: $md) {
      height: 400px;
    }
    @media (max-width: $sm) {
      height: 300px;
    }
  }

  // .contact__contacts

  &__contacts {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    @media (max-width: $xl) {
      bottom: 15px;
      left: 15px;
      gap: 15px;
      padding: 15px;
      border-radius: 10px;
    }
  }

  // .contact__contact

  &__contact {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (hover: hover) {
      &:hover {
        .contact__contact-link {
          text-decoration: none;
        }
      }
    }
    @media (max-width: $xl) {
      gap: 8px;
      svg {
        height: 12px;
      }
    }
  }

  // .contact__contact-body

  &__contact-body {
  }

  // .contact__contact-title

  &__contact-title {
    font-weight: 500;
    @media (max-width: $xl) {
      font-size: 12px;
    }
  }

  // .contact__contact-link

  &__contact-link {
    font-size: 12px;
    color: #9f9f9f;
    text-decoration: underline;
    @media (max-width: $xl) {
      font-size: 10px;
    }
  }

  // .contact__from

  &__from {
    flex: 0 1 50%;
  }
}
.form-contact {
  // .form-contact__title
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-color: #ffa600;
  padding: 52px 60px;
  z-index: 0;
  @media (max-width: $sm) {
    padding: 30px;
    border-radius: 15px;
  }

  &__text-empty,
  &__text-incorrect {
    display: none;
    margin-top: 5px;
    font-size: 16px;
    color: #c70000;
    @media (max-width: $xl) {
      font-size: 14px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    @media (max-width: $sm) {
      border-radius: 15px;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #121212;
    @media (max-width: $xl) {
      font-size: 32px;
    }
    @media (max-width: $sm) {
      font-size: 24px;
    }
  }

  // .form-contact__text

  &__text {
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
    @media (max-width: $xl) {
      font-size: 14px;
      margin-bottom: 15px;
    }
    @media (max-width: $sm) {
    }
  }

  // .form-contact__item

  &__item {
    margin-bottom: 20px;
    @media (max-width: $xl) {
      margin-bottom: 10px;
    }
  }

  // .form-contact__label

  &__label {
    font-size: 16px;
    color: #4c4c4c;
    margin-bottom: 10px;
    @media (max-width: $xl) {
      font-size: 14px;
      margin-bottom: 6px;
    }
  }

  // .form-contact__input

  &__input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px #cdcdcd solid;
    padding: 16.5px 20px;
    @media (max-width: $xl) {
      height: 40px;
      padding: 10px 15px;
      border-radius: 8px;
      font-size: 14px;
    }
    &._empty,
    &._incorrect {
      border: 1px #c70000 solid;
    }
    &._empty + .form-contact__text-incorrect + .form-contact__text-empty {
      display: block;
    }
    &._incorrect + .form-contact__text-incorrect {
      display: block;
    }
    &::placeholder {
      color: #77929e;
    }
    &._textarea {
      height: 70px;
    }
  }

  // .form-contact__tel

  &__tel {
  }

  // .form-contact__submit

  &__submit {
    width: 100%;
    background-color: $blueColor;
    color: #fff;
    margin-bottom: 20px;
  }

  // .form-contact__agree

  &__agree {
    margin: 0 -20px;
    @media (max-width: $sm) {
      margin: 0;
      margin-top: -20px;
    }
  }

  &__agree-check {
    width: 0;
    height: 0;
    &._empty + .form-contact__agree-text {
      &:before {
        border: 1px #c70000 solid;
      }
      color: #c70000;
    }
  }
  // .form-contact__agree-text
  &__agree-check:checked + &__agree-text {
    &:after {
      transform: scale(1);
    }
  }

  &__agree-text {
    display: block;
    font-size: 8px;
    color: #a9a9a9;
    padding-left: 45px;
    position: relative;
    @media (max-width: $xl) {
      padding-left: 25px;
    }
    a {
      text-decoration: underline;
      @media (hover: hover) {
        &:hover {
          text-decoration: none;
        }
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      border-radius: 3px;
      border: 1px #141414 solid;
    }
    &:after {
      content: "";
      position: absolute;
      position: absolute;
      top: 2px;
      left: 2px;
      height: 11px;
      width: 11px;
      border-radius: 3px;
      overflow: hidden;
      background-color: #141414;
      transform: scale(0);
      transition: all 0.2s ease;
    }
  }
}

/*-------------------------------------------------------------------------------------------
-----------------------------------------BREADCRUMBS---------------------------------------------
-------------------------------------------------------------------------------------------*/

.breadcrumbs {
  // .breadcrumbs__link

  ul {
    display: flex;
    align-items: center;
  }

  li:not(:last-child) {
    &:after {
      content: "/";
      margin-left: 10px;
    }
    margin-right: 10px;
  }

  &__link {
    font-size: 12px;
    color: #000;
    transition: all 0.2s ease;
    @media (hover: hover) {
      &:hover {
        color: $blueColor;
      }
    }
    &._current {
      color: $blueColor;
    }
  }
}
